<div class="mx-auto max-w-md">
  <h1 class="mb-6 text-2xl font-semibold">Créer un compte porteur</h1>

  <form (ngSubmit)="submit()" [formGroup]="form" class="card space-y-4">
    <div>
      <label class="label">Nom complet</label>
      <input class="input" formControlName="fullName" placeholder="Jane DOE" />
      <!-- <p class="mt-1 text-xs text-red-600" *ngIf="form.controls.fullName.touched && form.controls.fullName.invalid">
        Nom requis (2 caractères min.)
      </p> -->
    </div>

    <div>
      <label class="label">Email</label>
      <input type="email" class="input" formControlName="email" placeholder="nom@domaine.com" />
      <!-- <p class="mt-1 text-xs text-red-600" *ngIf="form.controls.email.touched && form.controls.email.invalid">
        Email invalide
      </p> -->
    </div>

    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
      <div>
        <label class="label">Mot de passe</label>
        <input type="password" class="input" formControlName="password" />
      </div>
      <div>
        <label class="label">Confirmer</label>
        <input type="password" class="input" formControlName="confirm" />
        <!-- <p class="mt-1 text-xs text-red-600" *ngIf="form.controls.confirm.touched && form.hasError('mustMatch', ['confirm'])">
          Les mots de passe ne correspondent pas
        </p> -->
      </div>
    </div>

    <!-- Bouton actif même si le formulaire est vide (front-only) -->
    <button class="btn-primary w-full">Créer le compte</button>

    <div class="text-center text-sm">
      Déjà inscrit ? <a routerLink="/login" class="underline">Se connecter</a>
    </div>
  </form>
</div>
